.login-page {
	margin-top: 120px;
}

.login-form {
	display: flex;
	flex-direction: column;
	height: inherit;
	padding: 9px;
	padding-top: 30px;
}

.forgot-pass {
	margin-left: auto;
	text-decoration: none;
	color: gray;
	padding: 5px;
	transform: all 0.5s;
	font: 300 15px cursive;
}

.forgot-pass:hover {
	color: rgba(41, 41, 41, 0.793);
}
