:root {
	--main-color: rgb(36, 36, 36);
}
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden !important;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: none;
}

.redColor {
	color: red !important;
}

.greenColor {
	color: green !important;
}

button {
	overflow: hidden !important;
}
img {
	overflow: hidden !important;
}

.m-auto {
	margin: auto;
}

span {
	overflow: hidden !important;
}

.form-input {
	display: flex;
	justify-content: space-between;
	height: 45px;
	padding: 2px;
	margin: 3px;
	border: 1px solid #adacac;
	border-radius: 2px;
	justify-content: space-between;
	overflow: hidden;
	padding-left: 10px;
	align-items: center;
	background-color: white;
	margin-top: 18px;
}

.form-input > input {
	height: 40px;
	overflow: hidden !important;
	outline: none;
	width: 252px;
	border: none;
	font: 400 17px "Roboto";
}

.form-input > svg {
	font-size: 1.4rem;
}

.form-submit-btn {
	width: 200px;
	height: 43px;
	margin: auto;
	border-radius: 2px;
	border: 1px solid var(--main-color);
	background: var(--main-color);
	color: white;
	font: 300 15px "Roboto";
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.5s;
}

.form-submit-btn:hover {
	transform: scale(1.04);
}

.cursor-pointer {
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.form-input > input {
		width: 280px;
	}
}

.main-bg-color {
	background-color: var(--main-color);
}

.main-color {
	color: var(--main-color);
}
